# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# Github stuff
/.github/ @rvan-duy

# ESLint
.eslintrc.cjs @rvan-duy

# Docs
/docs/ @LJmartin94

# Docker
Dockerfile @Obult
/docker-compose.yml @Obult

# Frontend
/frontend/rubenpong/src/router @rvan-duy
/frontend/rubenpong/src/utils/backend-requests.ts @rvan-duy

# Backend
/backend/volume/src/chat @LJmartin94 @Obult
/backend/volume/src/auth @rvan-duy
/backend/volume/src/room @Obult
/backend/volume/src/user @Obult @rvan-duy
/backend/volume/src/msg @Obult
/backend/volume/src/prisma @Obult
/backend/volume/src/game @rvan-mee
/backend/volume/* @Obult
